.menu-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 0.8rem 0;
  border-radius: 5px;
  transition: background-color ease-in-out 200ms;
  color: var(--text-color);
  &.active {
    color: var(--primary);

    .icon {
      display: none;
    }
    .active-icon {
      display: flex;
    }
  }
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.title {
  margin-left: 1rem;
}

.icon {
  display: flex;
}
.active-icon {
  display: none;
}
