.wrapper {
  width: 356px;
  padding: 20px 0 26px;
}

.menu-block {
  position: relative;
  padding: 10px 0;
}

.menu-block::before {
  content: '';
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0;
  height: 1px;
  background-color: rgba(22, 24, 35, 0.12);
}
